# Created by Matt, Brett, Sydney, Ryan
# Spring 2016
# git ignore file used to help with project implementations.

# Ignores all of these files"
#BUILD
	/lab1p1/build/**
#DEBUG
	/lab1p1/debug/**
#DIST	
	dist/**
#NBPROJECT	
	/lab1p1/nbproject/**
#MAKEFILE
	/lab1p1/Makefile